name: Publish to NPM
on:
  release:
    types: [created]

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm run build
      - run: npm publish
  updateDocs:
    runs-on: ubuntu-24.04
    needs: publish
    steps:
      - name: Call update docs
        env:
          REPO: elfsquad/configurator
          BRANCH: main
          WORKFLOW_ID: 90731854
        run: |
          curl -fL --retry 3 -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${{ secrets.TOKEN }}" https://api.github.com/repos/${{ env.REPO }}/actions/workflows/${{ env.WORKFLOW_ID }}/dispatches -d '{"ref":"main", "inputs": {}}'
